@import "tailwindcss";

@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src: url("/fonts/Saira.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .font-roboto {
    font-family: "RobotoSlab", serif, system-ui;
  }
  .font-saira {
    font-family: "Saira", sans-serif, system-ui;
  }
}

:root {
  @apply bg-zinc-50 text-zinc-900 dark:text-zinc-200 dark:bg-stone-900 leading-relaxed;
  font-family: "Saira", sans-serif, system-ui;
}

.navbar {
  @apply fixed top-0 left-0 w-full bg-zinc-100 text-zinc-900 dark:bg-zinc-800/50 dark:text-zinc-200 h-32 md:h-18 flex flex-col md:flex-row p-5 justify-between items-center shadow-2xl shadow-zinc-900/50 dark:shadow-none z-50;
}

body {
  @apply m-0 flex items-center justify-center min-w-80 min-h-screen;
}

.nav-btn {
  @apply p-2  text-white bg-purple-500 hover:bg-purple-700 drop-shadow-lg outline outline-zinc-300/5 dark:bg-purple-700 dark:hover:bg-purple-500 rounded-xl hover:underline hover:-translate-y-2.5 dark:shadow-none dark:outline-none cursor-pointer active:dark:bg-purple-900 active:outline-0;
}

.active-nav {
  @apply dark:bg-purple-900 border-2 border-purple-500;
}

.card {
  @apply mx-auto flex flex-col max-w-8/10 items-center rounded-2xl bg-zinc-100 p-6 shadow-xl outline-2 outline-zinc-300/50 dark:bg-zinc-900 dark:shadow-md dark:shadow-purple-400 dark:-outline-offset-1 dark:outline-purple-500/50 text-zinc-900 dark:text-zinc-200;
}

.animate-fadein {
  animation: fadeIn 1.5s ease-in-out forwards;
}

.anim-delay-2 {
  animation-delay: 0.75s;
}
.anim-delay-3 {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
    filter: blur(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
