@import "tailwindcss";

@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/RobotoSlab.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Saira";
  src: url("/fonts/Saira.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .font-roboto {
    font-family: "RobotoSlab", serif, system-ui;
  }
  .font-saira {
    font-family: "Saira", sans-serif, system-ui;
  }
}

:root {
  @apply text-zinc-200 bg-stone-900 leading-relaxed;
  font-family: "Saira", sans-serif, system-ui;
}

body {
  @apply m-0 flex items-center justify-center min-w-80 min-h-screen;
}

.nav-btn {
  @apply p-2  text-white bg-purple-500 hover:bg-purple-700 drop-shadow-lg outline outline-zinc-300/5 dark:bg-purple-700 dark:hover:bg-purple-500 rounded-xl hover:underline hover:-translate-y-2.5 dark:shadow-none dark:outline-none cursor-pointer active:dark:bg-purple-900 active:outline-0;
}
